*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    
}


/* header section  */
header{
   transition: all 0.5s;
    height: 75px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0 5vw;
    grid-template-columns: 1fr 2fr;
    display: grid;
    place-items: left;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 600;
   
/* background: rgba(255, 255, 255, 0.17);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
border: 1px solid rgba(255, 255, 255, 0.08); */

}

  
.sticky{
    background: rgba(12, 8, 83, 0.85);
   

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
border: 1px solid rgba(255, 255, 255, 0.08);
padding: 0 5vw;
  }
  header.sticky ul li a{
    color: #fcfcfc;
  }
.logo{
    display: flex;
    gap: 10px;
   place-items: center;
   z-index: 500;

   
    
}
.logo_box{
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    font-size: 26px;
    font-family: fantasy;
   
    font-weight: bold;
    background: rgb(13,16,43);
    background: linear-gradient(90deg, rgba(13,16,43,1) 34%, rgba(58,46,121,1) 84%);
    border-radius: 50px;
    color: #ffffff;
    filter: brightness(180%);
  

}
.logo_text{
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;

}
nav{
  
    text-align: right;
  
   
   
}

ul li{
    display: inline-block;
    list-style: none;
    
}
ul li a{

display: inline-block;

    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
   
    
    transition: .3s ease in;
    
    

    
}
ul li a:active,li a:hover{
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
   
    
}



/* hero section hero section  */
.hero{
    width: 100%;
    min-height: 110vh;
    background: rgb(13,16,43);
background: linear-gradient(180deg, rgba(13,16,43,1) 23%, rgba(31,28,74,1) 54%, rgba(58,46,121,1) 100%);
display: grid;
place-items: center;
padding-bottom: 40px;



}
.hero .container{
    display: flex;
    text-align: center;
    gap: 15px;
    flex-direction: column;
    max-width: 1200px;
   z-index: 10;
  
}
.hero .container .own{
    font-size: 14px;
    padding: 1em 2em;
    color: #fff;
    background: transparent;
    border: 1px solid #ffffff46;
    border-radius: 50px;
    display: inline-block;
    /* width: 25em; */
    align-self: center;
    z-index: 10;
    transition: 0.1s ease-in;

}
.hero .container .own:hover{
    transition: 0.1s ease-in;
background-color: #ffffff22;

}
.hero .container .own:active{
    border: 1px solid #ffffffd6;
    transition: 0s ease-in;

}
.hero .container h2{
    font-size: 4.5vw;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1em;
    z-index: 20;
}
.hero .container h2 span{
    font-size: 3.5vw;
   
   
}
.hero .container p{
    font-size: 17px;
    color: #c0c0c0;
    margin: 0 30px;
    letter-spacing: 1.2px;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 20;
    max-width: 900px;
}
.hero .container article button{
    padding: 12px 16px;
    border-radius: 50px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-weight: bold;
    margin: 20px 2px;
}
.hero .container article .two{
    background-color: #ffffffc3;
    color: #000;
    /* background-color: #28e751; */

  
}
.hero .container article .two:hover{
   background-color: #fff;
    
  
}
.hero .container article .three{
    color: #eaeaea;
    background: transparent;
    border: 2px solid #9b9b9b8d;
    transition: 0.1s ease-in;
  
}
.hero .container article .three:hover{
   
    background-color: #ffffff22;
}
.hero .container .three:active{
    border: 2px solid #ffffffd6;
    transition: 0s ease-in;

}
nav .menu-btn i{
    color: #ffffff;
    font-size: 22px;
    position: absolute;
    right: 30px;
    top: 32px;
    z-index: 100;
    display: none;
}
nav .close-btn i{
    color: #ffffff;
    font-size: 22px;
    position: absolute;
    right: 30px;
    top: 52px;
    z-index: 500;
    display: none;
}
input[type="checkbox"]{
    display: none;
}


/* skills skills skills skills */
/* .skills_container{
    height: 80vh;
    width: 100%;
    background: rgb(13,16,43);
    background: linear-gradient(0deg, rgba(13,16,43,1) 23%, rgba(31,28,74,1) 54%, rgba(58,46,121,1) 100%);
    display: grid;
    place-items: center;
    
   
} */

#skills{
    scroll-margin: 400px;
   width: 100%;
   scroll-behavior: smooth;
   position: absolute;
   top: 80vh;
   display: flex;
   padding: 0 3%;
   gap: 15px;
align-content: center;
justify-content: center;
   flex-wrap: wrap;
}
#skills span{
    font-size: 20px;
   
    width: 30%;
    color: #ffff;
    height: 5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;
    /* place-items: center; */
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 12.5em;
    padding: 0.1em 0;
   gap: 0.5em;
    text-transform: uppercase;
    padding-top: 0.5em;
    background: rgba(255, 255, 255, 0.17);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
border: 1px solid rgba(255, 255, 255, 0.08);
   
}
#skills span i{
    font-size: 2em;
  /* color: #14ff82; */
  color: #a9bdffca;
}

.myproject{
    min-height: 100vh;
    background: rgb(13,16,43);
    background: linear-gradient(0deg, rgba(13,16,43,1) 23%, rgba(31,28,74,1) 54%, rgba(58,46,121,1) 100%);
    
}
.myproject h3{
    margin: 40px auto;
    scroll-margin: 150px;
}
.projectgrid{
max-width: 1000px;


    display: grid;
    font-size: 20px;
    grid-template-columns: 17em 17em 17em;
    grid-template-rows: 10em 10em;
    
    gap: 15px;
    margin: auto;
    justify-content: center;
   
}
.projectgrid span{
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.17);
    transition: 0.2s ease;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    
}
.projectgrid span:hover{
    transform: scale(1.05);
    border: 1px solid #Fff;

}
/* .projectgrid a{

} */
.projectgrid a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    
}

.projectgrid .own{
   background-image: url(/img/ownn.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
@media screen and (max-width:1220px) {
    .projectgrid{
        font-size: 18px;
       
    }

}
@media screen and (max-width:1120px) {
    .projectgrid{
        font-size: 16px;
       
    }

}
@media screen and (max-width:920px) {
    .projectgrid{
        font-size: 14px;
       
    }

}

@media screen and (max-width:850px) {
    .projectgrid{
        font-size: 12px;
       
    }
    #skills span{
        font-size: 15px;
    }
    nav .menu-btn i{
        display: block;
        position: fixed;
        z-index: 400;
        
    }
    #click:checked .menu-btn i::before{
        content: '/f00d';
    }
    #click2:checked .close-btn i::before{
        content: '/f00d';
    }
    header{
        display: block;
        
       
    }
   
    .logo{
        gap: 1vw;
        padding-top: 10px;
    }
    .logo_box{
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
    .logo_text{
        font-size: 20px;
    }
    .hero .container .own{
        font-size: 10px;
    }
    .hero .container{
       z-index: 10;
       top: -20px;
    }
    .logo{
        margin: 10px 0px;
    }
    
   
    

    ul{
        align-items: center;
        text-align: center;
        background-color: #e8e8e8;
       border-radius: 20px;
        height: 100vh;
       z-index: 200;
       border-radius: 0px;
        position: fixed;
        top: 0px;
        right: -100%;
        width: 80%;
        padding-left: 0px;
        padding-top: 60px;
        background: rgb(13,16,43);
        background: linear-gradient(180deg, rgba(13,16,43,1) 23%, rgba(31,28,74,1) 54%, rgba(58,46,121,1) 100%);
        filter: brightness(170%);
        transition: all .3s ease;
    }
    #click:checked ~ ul{
        right: 0;
    }
    #click:checked ~ .close-btn i{
        display: block;
        transition: .3s all ease;
    }
    #click2:checked + ul{
        right: -100%;
    }
    #click2:checked {
        display: none;
    }
    
    
    ul li{
        display: block;
        margin: 10px auto;
        padding: 10px 0px;
        width: 90%;
      border-radius: 10px;
      border: 1px solid transparent;
      transition: 0.2s ease-in-out;
        
    }
    ul li:hover{
        background: rgba(255, 255, 255, 0.17);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
border: 1px solid rgba(255, 255, 255, 0.08);

    }

    ul li a{
        padding: 8px 0px 0 10px;
        transition: .3s ease in;
    }
    ul li a:hover{
        border-bottom: none;
        
    }
    .hero .container article button{
        padding: 11px 11px;
        font-size: 12px;
    }
    .hero .container h2{
        font-size: 6vw;
    }
    
    .hero .container p{
        font-size: 14px;
        word-spacing: 1px;
        padding: 0 30px;
      
    }


    

}
@media screen and (max-width:730px) {
    .projectgrid{
        font-size: 16px;
    grid-template-columns: 17em 17em;
    grid-template-rows: 10em 10em 10em;
       
    }

}
@media screen and (max-width:620px) {
    .projectgrid{
        font-size: 14px;
   
       
    }

   

}
@media screen and (max-width:600px) {
    .hero .container h2{
        font-size: 6.5vw;
    }
    
    .hero .container p{
        font-size: 12px;
        word-spacing: 1px;
        padding: 0 10px;
    }
    
    
    
    

}
@media screen and (max-width:552px) {
    #skills span{
        font-size: 10px;
        /* height: 5em;
    
    min-width: 14em; */
    }
    .projectgrid{
        font-size: 12px;
   
       
    }
    

}
@media screen and (max-width:460px) {
    #skills span{
        font-size: 8px;
        /* height: 5em;
    
    min-width: 14em; */
    }
    .projectgrid{
        font-size: 20px;
    grid-template-columns: 17em;
    grid-template-rows: 10em 10em 10em 10em 10em 10em ;
    padding-bottom: 20px;

       
    }
}